* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    color: #ffffff;
    font-family: Karla, serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 550px;
    margin: auto;
}
.dark {
    width: 600px;
    height: 550px;
    margin: 115px auto;
    padding: 115px;
    background-color: #1f2937;
}    
.container-light {
    width: 600px;
    height: 550px;
    margin: 115px auto;
    padding: 115px;
    background-color: #ecfdf5;
    color: #273549;
}

.title {
    font-weight: bolder;
    font-size: 40px;
}

.green {
    color: #10b981;
}

p {
    font-size: 20px;
    margin-top: 10px;
}

#btn-dark {
    cursor: pointer;
    color: #ffffff;
    background-color: #10b981;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 16px;
    margin-top: 51px;
    border: none;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .05));  
}

.btn-container {
    width: 100px;
    margin: 2rem auto;
}

#btn-toggle {
    cursor: pointer;
    background-color: #2f3e53;
    color: #10b981;
    padding: 10px 20px;
    border: 2px solid #10b981;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 2px #ecfdf5);
}

.wrapper::after {
    content: " ";
    width: 400px;
    height: 1px;
    margin: 35px auto;
    background-color: #2f3e53;
    display: block;
}

.password-container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

#password-1,
#password-2{
    background-color: #273549;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    display: inline-block;
    color: #10b981;
    padding-top: 9px;
    text-align: center;
    margin-right: 24px;
}







